body {
    background-color: red;
}

#dog-list-ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row wrap;
    justify-content: space-evenly;
    /* padding: 20px; */
}

.dog-img {
    max-width: 300px;
    max-height: 300px;
    padding: 5px;
}